@font-face {
    font-family: 'Roboto Serif';
    src: url('/fonts/roboto-serif/RobotoSerif-VariableFont_....ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}